@charset "utf-8";

@media all and (min-width:321px) and (max-width:600px){
    html {
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
        background-color: #F7F5EC;
    }
    body {
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    ul,li,ol {
        list-style: none;
    }
    a {
        text-decoration: none;
    }
    
    .all {
        min-width: 320px;
    }
    
                            /* 상단 구좌 */
    .top {
        width: 100%;
        height: 300px;
        position: relative;
        top: 0;
        overflow: hidden;
        min-width: 320px;
        z-index: 100;
    }
    header {
        width: 100%;
        position: absolute;
        top: 0;
        line-height: 60px;
        z-index: 100;
    }
    nav {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    nav .logobox {
        width: 70px;
        margin-top: 1%;
    }
    nav .logobox img {
        width: 100%;
    }
    nav > ul {
        width:40%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;   
        display: none;
    }
    nav > ul > li {
        padding: 0;
        width: 100%;
        text-align: center;
        line-height: 25px;
    }
    nav > ul > li:nth-of-type(2) a {
        width: 65px;
    }
    nav ul li a:active {
        color: #b4b5b6;
    }
    nav > ul li:hover a {
        border-bottom: 1px solid black;
    }
    nav ul li a {
        color: white;
        font-size: 0.8rem;
    }
    nav ul li ul {
        display: none;
    }
    nav ul li ul li {
        font-size: 0.8rem;
        line-height: 35px;
        text-transform: uppercase;
        cursor: pointer;
        display: none;
    }
    nav ul li ul li:hover {
        color: #707070;
    }
    nav .menubox {
        width: 25%;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }
    nav .menubox i {
        width: 50%;
    }
    nav .menubox i:active {
        color: #b4b5b6;
    }
    nav .menubox .exit {
        display: none;
    }
    nav .searchBox {
        width: 100%;
        position: absolute;
        top: 35%;
        left: -50%;
        display: none;
    }
    nav .searchBox i {
        color: white;
        font-size: 1.2rem;
        position: absolute;
        top: 35%;
        right: -65%;
        cursor: pointer;
    }
    nav .searchBox input {
        width: 140%;
        outline: none;
        border: none;
        border-radius: 50px;
        background-color: white;
        opacity: 0.5;
        padding: 2px 0px;
        line-height: 25px;
        text-align: center;
    }
    nav button {
        color: white;
        background-color: rgba(0, 0, 0, 0);
        font-size: 1.1rem;
        margin: 17% 0;
        border: none;
        cursor: pointer;
        flex-grow: 1;
    }
    header .headerhidden {
        width: 100%;
        background-color: red;
        display: none;
    }
    video {
        width: 100%;
        position: absolute;
        top: 0;
        cursor: pointer;
    }
    
    .headerbg {
        opacity: 0.8;
        background-color: #F7F5EC;
    }
    .black {
        color: black;
    }
    
                        /* 메인 설명 구좌 */
    .main_info {
        width: 80%;
        margin: 6% auto;
        text-align: center;
    }
    .main_info h1 {
        font-family: 'Tenor Sans', sans-serif;
        font-size: 2.3rem;
        font-weight: lighter;
        letter-spacing: 0.8px;
    }
    .main_info h5 {
        font-size: 1.3rem;
        font-weight: 500;
        letter-spacing: 0.8px;
    }
    .main_info h6 {
        font-size: 0.9rem;
        font-weight:500;
        margin: 10px 0;
        letter-spacing: 0.8px;
    }
    .main_info p {
        font-size: 0.8rem;
        letter-spacing: -1px;
        word-break: keep-all;
        margin-bottom: 5%;
    }
    .main_info button {
        width: 50%;
        margin: 3% 1%;
        padding: 2% 1%;
        background-color: #F7F5EC;
        color: black;
        border: 1px solid black;
        border-radius: 50px;
        font-size: 0.8rem;
        letter-spacing: 0.8px;
        cursor: pointer;
        transition: all 0.4s;
        line-height: 20px;
    }
    .main_info button:hover {
        background-color: black;
        color: white;
    }
    
    
    
                        /* 사진 링크 구좌 */
    .pic_link {
        width: 100%;
        margin: 15% auto;
    
    }
    .pic_link ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .pic_link ul li {
        width: 30%;
        height: 200px;
        position: relative;
        margin: 1% 1%;
        background-color: black;
    }
    .pic_link ul li img {
        transition: all 0.5s;
        width: 100%;
        height: 100%
    }
    .pic_link ul li:hover img {
        opacity: 0.7;
        
    }
    .pic_link img {
        width: 100%;
        height: 100%;
        
    }
    .pic_link .textbox {
        position: absolute;
        top: 0;
        width: 100%;
        margin: 16% auto 0px;
        padding: 10px;
        text-align: center;
        color: white;
    }
    .pic_link h4 {
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: 10px;
    }
    .pic_link p {
        font-size: 0.8rem;
        word-break: keep-all;
    }
    
                            /* LOOKING 구좌 */
    .looking {
        width: 100%;
        margin: 15% auto 0;
        text-align: center;
        
    }
    .looking .photobox {
        width: 100%;
        position: relative;
    }
    .looking .photobox > div {
        height: 18px;
        margin: 0 auto 40%;

    }
    .allmenu, .fabric, .flooring, .mood, .spa, .design , .tea  {
        display: none;
    }
    .looking p {
        width: 100%;
        margin: 0 auto;
        font-family: 'Tenor Sans', sans-serif;
        font-size: 2.3rem;
        font-weight: lighter;
        letter-spacing: 0.8px;
    }
    .photobox .left {
        position: absolute;
        top: 35%;
        left: 0;
        width: 30%;
    }
    .photobox .left2 {
        top: 43%;
        left: 13%;
        width: 15%;
        z-index: 2;
    }
    .photobox .left3 {
        top: 55%;
        left: 13%;
        width: 20%;
    }
    .photobox .left4 {
        top: 35%;
        left: 0;
        width: 30%;
    }
    .photobox .left5 {
        top: 35%;
        width: 28%;
    }
    .photobox .left_bottom {
        position: absolute;
        top: 33%;
        left: 0;
        width: 20%
    }
    .photobox .middle {
        position: absolute;
        top: 50%;
        left: 38.5%;
        width: 23%;
    }
    .photobox .right {
        position: absolute;
        top: 35%;
        right: 10%;
        width: 22%;
        z-index: 2;
    }
    .photobox .right2 {
        top: 32%;
        right: 7%;
        width: 25%;
    }
    .photobox .right3 {
        top: 32%;
    }
    .photobox .right4 {
        top: 38%;
        right: 13%;
        width: 23%;
    }
    .photobox .bottom {
        position: absolute;
        bottom: 10%;
        right: 0;
        width: 28%;
    }
    .photobox .bottom2 {
        width: 20%;
    }
    .photobox .bottom3 {
        width: 25%;
    }
    .photobox img {
        width: 100%;
    }
    .btbox {
        width: 100%;
        margin: 0 auto;
    }
    .btbox button {
        width: 20%;
        padding: 1% 1%;
        background-color: #F7F5EC;
        border: 1px solid black;
        border-radius: 50px;
        font-size: 0.8rem;
        letter-spacing: 0.8px;
        cursor: pointer;
        color: black;
        transition: all 0.4s;
    }
    .btbox button:hover {
        background-color: black;
        color: white;
    }
    
                                /* comming soon 구좌 */
    .comming {
        width: 100%;
        margin: 15% auto 9%;
        text-align: center;
        overflow: hidden;
    }
    .comming a {
        width: 100%;
        color: white;
    }
    .comming > p {
        font-family: 'Tenor Sans', sans-serif;
        font-size: 2.3rem;
        font-weight: lighter;
        letter-spacing: 0.8px;
    }
    .comming .comming_img {
        width: 100%;
        margin: 5% auto;
        position: relative;
        transition: all 2s;
        overflow: hidden;
    }
    .comming .comming_img:hover {
        transform: scale(1.1);
    }
    
    .comming .comming_img img {
        width: 100%;
        height: 300px;
    }
    .comming .comming_text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%,-50%);
        color: white;
        line-height: 30px;
        letter-spacing: 5px;
     }
     .comming .comming_text h4 {
        font-size: 1.25rem;
        font-weight: 500;
     }
     .comming .comming_text p {
        font-size: 1.1rem;
     }
    
     .comming .comming_none span {
        opacity: 1;
        border: 1px solid white;
        border-radius: 50px;
        padding: 0.4% 4%;
        font-weight: 500;
        position: absolute;
        bottom: -100%;
        left: 0;
        letter-spacing: 0.8px;
        font-size: 1.1rem;
     }
     .comming:hover span {
        opacity: 1;
        bottom: 10%;
        left: 50%;
        transform: translate(-50%,-50%);
     }
     .comming .comming_none span:hover {
        background-color: white;
        border: 1px solid black;
        box-shadow: 0 0 0 3px white;
        opacity: 0.8;
        color: black;
        transition: all 0.5s;
        font-size: 1.1rem;
     }
      .comming .comming_none span::after{
        content: " ⇀";
        font-weight: 600;
        font-size: 1rem;
     }
    
                            /* 스페셜 오퍼 구좌 */
    .offer {
        width: 100%;
        margin: 15% auto 8%;
        text-align: center;
    }
    .offer > p {
        font-family: 'Tenor Sans', sans-serif;
        font-size: 2.3rem;
        font-weight: lighter;
        letter-spacing: 0.8px;
    }
    .offer i {
        font-size: 0.8rem;
        letter-spacing: 0.8px;
        width: 90%;
        text-align: right;
        margin: 3% 0 0;
    }
    .offer a {
        color: black;
    }
    .typebox {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        opacity: 0.9;
    }
    .typebox > div {
        background-color: #F7F5EC;
        border: none;
        cursor: pointer;
    }
    .type1, .type2, .type3 {
        display: flex;
        flex-wrap: wrap;
    }
    .type1 {
        width: 100%;
    }
    .type2 {
        width: 100%;
    }
    .type3 {
        width: 100%;
    }
    .type1 > div {
        width: 100%;
        height: 399px;
        padding: 3%;
        position: relative;

    }
    
    .type1 >div:first-child {
        width: 100%;
    }
    .type1 > div:first-child div {
        position: absolute;
        background-color: black;
        color: white;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.5;
        padding: 3%;
        background-clip: content-box;
        display: none;
    }
    .type1 > div:not(:first-child) div {
        position: absolute;
        background-color: black;
        color: white;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.5;
        padding: 3%;
        background-clip: content-box;
        display: none;
        
    }
    .type1 img:first-child {
        width: 100%;
        height: 100%;
    }
    
    .type2 > div, .type3 > div {
        width: 100%;
        height: 370px;
        padding: 3%;
        cursor: pointer;
        position: relative;
    }
    .type2 > div div, .type3 > div div {
        position: absolute;
        background-color: black;
        color: white;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.5;
        padding: 3%;
        background-clip: content-box;
        display: none;
    }
    .typebox h1 {
        font-size: 1.9rem;
        font-weight: 300;
        padding: 1%;
        text-transform: uppercase;
        position: relative;
        top: 45%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .typebox p {
        font-size: 1rem;
        font-weight: 300;
        padding: 1%;
        text-transform: uppercase;
        position: relative;
        margin-top: 6%;
        top: 45%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .typebox p::after {
        content: "VIEW ⇀";
        border: 1px solid white;
        font-weight: 600;
        border-radius: 40px;
        padding: 1%;
        display: block;
        width: 40%;
        margin: 6% auto 0;
    }
    .typebox p:hover::after {
        background-color: white;
        border: 1px solid black;
        box-shadow: 0 0 0 2px white;
        color: black;
    }
    .typebox .type1 > div p {
        font-size: 1rem;
    }
    .typebox .type1 > div:first-child p {
        font-size: 1rem;
    }
    
    .typebox .type1 > div:first-child h1 {
        font-size: 1.9rem;
    }
    .typebox .type1 > div:not(:first-child) h1 {
        font-size: 1.9rem;
    } 
    .type2 > div img, .type3 > div img {
        width: 100%;
        height: 100%;
    }
    .type1 img:hover, .type2 img:hover, .type3 img:hover {
        opacity: 0.9;
    }
    
    
                                    /* 메인 텍스트 구좌 */
    .main_text {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        text-transform: uppercase;
    }
    .main_text h3 {
        font-family: 'Tenor Sans', sans-serif;
        font-size: 2.3rem;
        font-weight: lighter;
        letter-spacing: 0.8px;
    }
    .main_text p {
        font-size: 0.9rem;
        margin: 2.5% auto;
        color: rgba(96, 96, 96, 0.7);
        letter-spacing: 0.8px;
        word-break: keep-all;
    }
    .main_text::before {
        content: "";
        width: 1px;
        height: 200px;
        background-color: rgba(96, 96, 96, 0.6);
        display: block;
        margin: 0 auto 5%;
    }
    .main_text::after {
        content: "";
        width: 1px;
        height: 200px;
        background-color: rgba(96, 96, 96, 0.6);
        display: block;
        margin: 5% auto 0;
    }
    .main_text button {
        color: black;
        border: 1px solid black;
        padding: 2% 2.5%;
        background-color: #F7F5EC;
        border: 1px solid black;
        border-radius: 50px;
        font-size: 0.9rem;
        letter-spacing: 0.8px;
        transition: all 0.4s;
        cursor: pointer;
    }
    .main_text button:hover {
        background-color: black;
        color: white;
    }
    
    
                            /* 다른지점 소개 구좌 */
    .our_stay {
        width: 90%;
        margin: 9% auto;
        position: relative;
    }
    .our_stay > p {
        width: 100%;
        font-family: 'Tenor Sans', sans-serif;
        font-size: 2.3rem;
        font-weight: lighter;
        letter-spacing: 0.8px;
        text-align: center;
        margin: 3.5% auto;
    }
    .our_stay .slidehidden {
        width: 100%;
        overflow: hidden;
    }
    .slidewrap {
        width: 80%;
        margin: 0 auto;
    }
    .slideul {
        width: 600%;
        display: flex;
        margin-left:-94%;
    }
    .slideul li {
        width: 15%;
        margin: 0.5%;
    }
    .slideul li img {
        width: 100%;
        height: 250px;
    }
    .our_stay i {
        font-size: 2rem;
        color: white;
        position: absolute;
        top:33%;
        opacity: 0.8;
        cursor: pointer;
        
    }
    .our_stay i.prev {
        left: 2.5%;
    }
    .our_stay i.next {
        right: 2.5%;
    }
    .our_stay .housetext {
        text-align: center;
        margin: 0 auto;
        width: 70%;
    }
    .our_stay .housetext h4 {
        font-size: 0.7rem;
        margin-top: 4.5%;
    }
    .our_stay .housetext h3 {
        font-family: 'Tenor Sans', sans-serif;
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0.8px;
    }
    .our_stay .housetext p {
        font-size: 0.8rem;
        font-weight: 600;
        color: #707070;
    }
    .our_stay .housetext p::after {
        content: "RESERVATION ⇀";
        display: block;
        width: 80%;
        margin: 5% auto 0;
        font-weight: 300;
        font-size: 0.9rem;
        border: 1px solid black;
        padding: 2% 2%;
        border-radius: 50px;
        transition: all 0.25s;
        cursor: pointer;
        color: black;
    }
    .our_stay .housetext p:hover:after {
        background: black;
        color: white;
    }
    
                            /* 위로가기 버튼 */
    
    .upicon {
        width: 1%;
        position: fixed;
        bottom: 5%;
        right: 12%;
    } 
    .upicon button {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        cursor: pointer;
    }
    .upicon i {
        font-size: 0.5rem;
        color: black;
    }
    .upicon .up {
        font-size: 1.7rem;
    }
    
                            /* 푸터 */
    footer {
        width: 100%;
        background-color: #eae9e0;
    }
    footer .footinner {
        width: 95%;
        margin: 8% auto 0;
        padding: 2% 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        font-size: 0.8rem;
        position: relative;
        word-break: keep-all;
    }
    footer .footinner div:first-child {
        width: 25%;
        margin: 0.6% 0.5% 0;
    }
    footer img {
        width: 100%;
    }
    footer ul {
        width: 80%;
        display: flex;
        text-align: center;
        margin: 3% 0;
    }
    footer ul li {
        padding-right: 2%;
    }
    footer div.company {
        width: 100%;
        margin: 3% auto;
    }
    footer div.company a {
        font-weight: 600;
        font-size: 0.7rem;
        color: black;
    }
    footer div.company a:hover {
        text-decoration: underline;
    }
    footer h3 {
        margin: 1% 0;
        font-weight: 500;
        font-size: 0.8rem;
    }
    footer .footinner .paylogo {
        width: 98%;
        position: relative;
        display: flex;
        margin: 3% auto 0;
    }
    footer .footinner .paylogo img {
        width: 25%;
    }
    footer .footinner .paylogo .snsicon {
        width: 100%;
        margin-bottom: 0;
        display: flex;
        justify-content: flex-end;
    }
    footer .footinner .paylogo .snsicon li {
        width: 15%;
        font-size: 1.9rem;
    }
    footer .footinner .paylogo .snsicon li a {
        color: black;
    }
    footer .footinner .paylogo .snsicon li:nth-child(1) a i:hover {
        background: linear-gradient(135deg,#ffe17d 0%,#ffcd69 10%,#fa9137 28%,#eb4141 42%);
        color: transparent;
        -webkit-background-clip: text;
    }
    footer .footinner .paylogo .snsicon li:nth-child(2) a i:hover {
        color: #f00;
    }
    footer .footinner .paylogo .snsicon li:nth-child(3) a i:hover{
        color: rgb(29, 155, 240);
    }
    
    
    
    
}
