@charset "utf-8";

html {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: #F0F0F0;
}
body {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.8px;
}
ul,li,ol {
    list-style: none;
}
a {
    text-decoration: none;
}

.all {
    min-width: 1200px;
}

                        /* 상단 구좌 */
.top {
    width: 100%;
    height: 110px;
    position: relative;
    min-width: 1200px;
    z-index: 100;
}
header {
    width: 100%;
    position: absolute;
    top: 0;
    line-height: 60px;
    z-index: 100;
}
nav {
    width: 90%;
    margin: 1.5% auto;
    display: flex;
}
nav .logobox {
    width: 125px;
    margin-top: -0.5%;
}
nav .logobox img {
    width: 100%;
}
nav > ul {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;   
}
nav > ul > li {
    padding: 0 3%;
    text-align: center;
}
nav > ul > li:nth-of-type(2) a {
    width: 65px;
}
nav ul li a:active {
    color: #b4b5b6;
}
nav > ul li:hover a {
    border-bottom: 1px solid black;
}
nav ul li a {
    color: black;
    font-size: 1.1rem;
}
nav ul li ul {
    display: none;
}
nav ul li ul li {
    font-size: 0.8rem;
    line-height: 35px;
    text-transform: uppercase;
    cursor: pointer;
}
nav ul li ul li:hover {
    color: #bbbbbb;
}
nav .menubox {
    width: 10%;
    position: relative;
}
nav .menubox i:active {
    color: #b4b5b6;
}
nav .menubox .exit {
    display: none;
}
nav .searchBox {
    width: 100%;
    position: absolute;
    top: 35%;
    left: -50%;
    display: none;
}
nav .searchBox i {
    color: black;
    font-size: 1.2rem;
    position: absolute;
    top: 36%;
    right: -75%;
    cursor: pointer;
}
nav .searchBox input {
    width: 160%;
    outline: none;
    border: none;
    border-radius: 50px;
    background-color: white;
    opacity: 0.5;
    padding: 2px 0px;
    line-height: 25px;
    text-align: center;
}
nav button {
    width: 15%;
    color: black;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.1rem;
    margin: 0 11px;
    border: none;
    cursor: pointer;
    flex-grow: 1;
}
header .headerhidden {
    width: 100%;
    background-color: red;
    display: none;
}

.headerbg {
    opacity: 0.8;
    background-color: #dddddd;
}
.black {
    color: black;
}


                            /* 메인 시작 */
.maincontents {
    width: 100%;
    margin: 10% auto;
}
.maincontents h2 {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 4.6rem;
    font-weight: lighter;
    letter-spacing: 1.5px;
}
.main1 {
    width: 80%;
    margin: 0 auto;
    display: flex;
}
.main1 .photo {
    width: 900px;
    height: 500px;
    margin-left: 2%;
}
.main11 img {
    width: 100%;
    position: relative;
}
.main1 > h2 {
    width: 20%;
    height: 200px;
    margin: 3% 0 0 -6.4%;
    color: black;
    position: relative;
    letter-spacing: 10px;
}
.main1 > h2::before {
    position: absolute;
    top: 0;
    left: 0;
    content: attr(data-split);
    width: 32.5%;
    color: #fff;
    overflow: hidden;
}
.main1 .textbox {
    width: 20%;
    margin: 20% 0 0 -2%;
}
.main1 .textbox h3 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 100px;
}
.main1 .textbox h4 {
    font-size: 1.3rem;
    font-weight: 500;
}
.main1 .textbox p {
    margin-bottom: 5%;
    color: #666666;;
}
.main1 .textbox ul {
    display: flex;
    justify-content: flex-start;
}
.main1 .textbox ul li {
    width: 15%;
}
.main1 .textbox ul li a {
    color: black;
}
.main1 .textbox ul li a i {
    font-size: 1.5rem;
}
.main1 .textbox ul li:nth-child(1) a i:hover {
    background: linear-gradient(135deg,#ffe17d 0%,#ffcd69 10%,#fa9137 28%,#eb4141 42%);
    color: transparent;
    -webkit-background-clip: text;
}
.main1 .textbox ul li:nth-child(2) a i:hover {
    color: #f00;
}
.main1 .textbox ul li:nth-child(3) a i:hover{
    color: rgb(29, 155, 240);
}

.main2 {
    width: 70%;
    margin: 7% auto;
    position: relative;
    text-align: right;
}
.main2 img {
    width: 1198px;
    height: 800px;
}

.main2 p {
    font-family: 'Tenor Sans', sans-serif;
    position: absolute;
    bottom: 5%;
    left: -10%;
    color: black;
    font-size: 4rem;
    font-weight: 100;
    opacity: 0.8;
}


                        /* 위로가기 버튼 */

.upicon {
    width: 1%;
    position: fixed;
    bottom: 10%;
    right: 3.5%;
} 
.upicon button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}
.upicon i {
    font-size: 0.2rem;
    color: black;
}
.upicon .up {
    font-size: 1.7rem;
}

                        /* 푸터 */
footer {
    width: 100%;
    background-color: #dddddd;
}
footer .footinner {
    width: 70%;
    margin: 8% auto 0;
    padding: 2% 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 0.8rem;
    position: relative;
}
footer .footinner div:first-child {
    width: 133px;
    margin: 0.6% 3% 0;
}
footer img {
    width: 100%;
}
footer ul {
    width: 53%;
    display: flex;
    text-align: center;
    margin: 1% 0;
}
footer ul li {
    padding-right: 2%;
}
footer div.company {
    width: 100%;
}
footer div.company a {
    font-weight: 600;
    font-size: 0.7rem;
    color: black;
}
footer div.company a:hover {
    text-decoration: underline;
}
footer h3 {
    margin: 1% 0;
    font-weight: 500;
    font-size: 0.8rem;
}
footer .footinner .paylogo {
    position: absolute;
    right: 0;
}
footer .footinner .paylogo .snsicon {
    width: 100%;
    margin-bottom: -5%;
}
footer .footinner .paylogo .snsicon li {
    width: 33%;
    font-size: 1.8rem;
}
footer .footinner .paylogo .snsicon li a {
    color: black;
}
footer .footinner .paylogo .snsicon li:nth-child(1) a i:hover {
    background: linear-gradient(135deg,#ffe17d 0%,#ffcd69 10%,#fa9137 28%,#eb4141 42%);
    color: transparent;
    -webkit-background-clip: text;
}
footer .footinner .paylogo .snsicon li:nth-child(2) a i:hover {
    color: #f00;
}
footer .footinner .paylogo .snsicon li:nth-child(3) a i:hover{
    color: rgb(29, 155, 240);
}


