@charset "utf-8";

@media all and (min-width:321px) and (max-width:800px) {
    html {
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
        background-color: #F0F0F0;
    }

    body {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    ul,
    li,
    ol {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    .all {
        min-width: 320px;
    }

    /* 상단 구좌 */
    .top {
        width: 100%;
        height: 55vw;
        position: relative;
        top: 0;
        overflow: hidden;
        min-width: 320px;
        z-index: 100;
    }

    header {
        width: 100%;
        position: absolute;
        top: 0;
        line-height: 60px;
        z-index: 100;
    }

    nav {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    nav .logobox {
        width: 75px;
        margin-top: 3.3%;
    }

    nav .logobox img {
        width: 95px;
    }

    nav>ul {
        width: 40%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        display: none;
    }

    nav>ul>li {
        padding: 0;
        width: 100%;
        text-align: center;
        line-height: 35px;
    }

    nav>ul>li:nth-of-type(2) a {
        width: 65px;
    }

    nav ul li a:active {
        color: #b4b5b6;
    }

    nav>ul li:hover a {
        border-bottom: 1px solid black;
    }

    nav ul li a {
        color: white;
        font-size: 1rem;
    }

    nav ul li ul {
        display: none;
    }

    nav ul li ul li {
        font-size: 0.8rem;
        line-height: 35px;
        text-transform: uppercase;
        cursor: pointer;
        display: none;
    }

    nav ul li ul li:hover {
        color: #707070;
    }

    nav .menubox {
        width: 20%;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        margin-top: 2.8%;
    }

    nav .menubox i {
        width: 50%;
    }

    nav .menubox i:active {
        color: #b4b5b6;
    }

    nav .menubox .exit {
        display: none;
    }

    nav .searchBox {
        width: 100%;
        position: absolute;
        top: 35%;
        left: -50%;
        display: none;
    }

    nav .searchBox i {
        color: white;
        font-size: 1.2rem;
        position: absolute;
        top: 35%;
        right: -65%;
        cursor: pointer;
        display: none;
    }

    nav .searchBox input {
        width: 140%;
        outline: none;
        border: none;
        border-radius: 50px;
        background-color: white;
        opacity: 0.5;
        padding: 2px 0px;
        line-height: 25px;
        text-align: center;
    }

    nav button {
        color: black;
        background-color: rgba(0, 0, 0, 0);
        font-size: 1.1rem;
        margin: 17% 0;
        border: none;
        cursor: pointer;
        flex-grow: 1;
    }

    header .headerhidden {
        width: 100%;
        background-color: red;
        display: none;
    }

    .headerbg {
        opacity: 0.8;
        background-color: #dddddd;
    }

    .black {
        color: black;
    }

    /* 메인 시작 */
    .maincontents {
        width: 100%;
        margin: 0 auto 10%;
    }

    .maincontents h2,
    .mainMap h2 {
        font-family: 'Tenor Sans', sans-serif;
        font-size: 2.7rem;
        font-weight: lighter;
        letter-spacing: 1.5px;
    }

    .main1 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .main1 .photo {
        width: 100%;
        margin: 0 auto;
    }

    .main11 .photo img {
        width: 100%;
    }

    .main1>h2 {
        width: 45%;
        height: 160px;
        margin: -5.5% 10% 0;
        color: white;
        position: relative;
        letter-spacing: 10px;
        mix-blend-mode: difference;
    }

    /* .main1 > h2::before {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    content: attr(data-split);
                                    width: 32.5%;
                                    color: #fff;
                                    overflow: hidden;
                                } */
    .main1 .textbox {
        width: 100%;
        margin: -10% auto 0;
        text-align: center;
    }

    .main1 .textbox h3 {
        font-size: 1.1rem;
        font-weight: 500;
        line-height: 70px;
    }

    .main1 .textbox h4 {
        font-size: 1rem;
        font-weight: 500;
    }

    .main1 .textbox p {
        margin-bottom: 5%;
        font-size: 0.9rem;
        color: #666666;
    }

    .main1 .textbox ul {
        display: flex;
        margin: 0 auto;
        width: 35%;
        justify-content: space-between;
    }

    .main1 .textbox ul li {
        width: 33%;
    }

    .main1 .textbox ul li a {
        color: black;
    }

    .main1 .textbox ul li a i {
        font-size: 1.5rem;
    }

    .main1 .textbox ul li:nth-child(1) a i:hover {
        background: linear-gradient(135deg, #ffe17d 0%, #ffcd69 10%, #fa9137 28%, #eb4141 42%);
        color: transparent;
        -webkit-background-clip: text;
    }

    .main1 .textbox ul li:nth-child(2) a i:hover {
        color: #f00;
    }

    .main1 .textbox ul li:nth-child(3) a i:hover {
        color: rgb(29, 155, 240);
    }

    .main2 {
        width: 90%;
        margin: 15% auto 7%;
        position: relative;
        text-align: center;
    }

    .main2 img {
        width: 95%;
        height: 40vh;
    }

    .main2 .main2_textbox {
        position: absolute;
        bottom: 28%;
        left: 2%;
    }

    .main2 .main2_textbox p {
        font-family: 'Tenor Sans', sans-serif;
        color: white;
        font-size: 2.6rem;
        font-weight: 100;
        position: relative;
        mix-blend-mode: difference;

    }

    .main2>p {
        text-align: center;
        font-size: 0.9rem;
        margin: 8% auto;
        line-height: 30px;
        word-break: keep-all;
    }

    /* .main2 .main2_textbox p::before {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    content: attr(data-split);
                                    width: 20%;
                                    color: black;
                                    overflow: hidden;
                                } */

    .main3 {
        width: 100%;
        margin: 16% auto;
        height: 45vh;
    }

    .main3 img {
        width: 100%;
        height: 100%;
    }

    .main4 {
        width: 80%;
        margin: 14% auto;
        text-align: center;
    }

    .main4>p {
        font-size: 1rem;
        line-height: 30px;
        word-break: normal;
        margin: 8% auto;
    }

    .main4 .main4_photobox {
        width: 100%;
        height: 40vh;
        display: flex;
        justify-content: center;
    }

    .main4 .main4_photobox .box2,
    .main4 .main4_photobox .box3 {
        display: none;
    }

    .main4 .main4_photobox img {
        width: 100%;
        height: 100%;
    }

    .main4 .main4_photobox>div {
        width: 100%;
        position: relative;
    }

    .main4 .main4_photobox>div p {
        font-family: 'Tenor Sans', sans-serif;
        position: absolute;
        bottom: 10%;
        right: -7%;
        font-size: 10rem;
        color: black;
        letter-spacing: 10px;
        display: none;
    }

    .main4 .main4_photobox .box1 p::before {
        position: absolute;
        top: 0;
        left: 0;
        content: attr(data-split);
        width: 50%;
        color: #fff;
        overflow: hidden;
    }

    .main4 .main4_photobox .box2 p::before {
        position: absolute;
        top: 0;
        left: 0;
        content: attr(data-split);
        width: 60%;
        color: #fff;
        overflow: hidden;
    }

    .main4 .main4_photobox .box3 p::before {
        position: absolute;
        top: 0;
        left: 0;
        content: attr(data-split);
        width: 60%;
        color: #fff;
        overflow: hidden;
    }

    .main4 .main4_bt {
        font-size: 1.6rem;
        line-height: 80px;
        letter-spacing: 20px;
    }

    .main4 .main4_bt span {
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 1.5px solid black;
        border-radius: 50%;
        cursor: pointer;
    }

    .bt_black {
        background-color: black;
    }

    .mainMap {
        width: 90%;
        text-align: center;
        margin: 0 auto
    }

    .mainMap h3 {
        font-family: 'Tenor Sans', sans-serif;
        font-size: 2.3rem;
        line-height: 100px;
        font-weight: 400;
    }

    .mainMap p {
        font-size: 1rem;
        line-height: 30px;
    }

    .mainMap p:nth-of-type(2) {
        line-height: 20px;
        font-size: 0.9rem;
        word-break: keep-all;
    }




    /* 위로가기 버튼 */

    .upicon {
        width: 1%;
        position: fixed;
        bottom: 20%;
        right: 12%;
        z-index: 4;
    }

    .upicon button {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        cursor: pointer;
    }

    .upicon i {
        font-size: 0.5rem;
        color: black;
    }

    .upicon .up {
        font-size: 1.7rem;
    }

    /* 푸터 */
    footer {
        width: 100%;
        margin-top: 15%;
        background-color: #dddddd;
    }

    footer .footinner {
        width: 95%;
        margin: 8% auto 0;
        padding: 2% 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        font-size: 0.8rem;
        position: relative;
        word-break: keep-all;
    }

    footer .footinner div:first-child {
        width: 25%;
        margin: 0.6% 0.5% 0;
    }

    footer img {
        width: 100%;
    }

    footer ul {
        width: 80%;
        display: flex;
        text-align: center;
        margin: 3% 0;
    }

    footer ul li {
        padding-right: 2%;
    }

    footer div.company {
        width: 100%;
        margin: 3% auto;
    }

    footer div.company a {
        font-weight: 600;
        font-size: 0.7rem;
        color: black;
    }

    footer div.company a:hover {
        text-decoration: underline;
    }

    footer h3 {
        margin: 1% 0;
        font-weight: 500;
        font-size: 0.8rem;
    }

    footer .footinner .paylogo {
        width: 98%;
        position: relative;
        display: flex;
        margin: 3% auto 0;
    }

    footer .footinner .paylogo img {
        width: 25%;
    }

    footer .footinner .paylogo .snsicon {
        width: 100%;
        margin-bottom: 0;
        display: flex;
        justify-content: flex-end;
    }

    footer .footinner .paylogo .snsicon li {
        width: 15%;
        font-size: 1.9rem;
    }

    footer .footinner .paylogo .snsicon li a {
        color: black;
    }

    footer .footinner .paylogo .snsicon li:nth-child(1) a i:hover {
        background: linear-gradient(135deg, #ffe17d 0%, #ffcd69 10%, #fa9137 28%, #eb4141 42%);
        color: transparent;
        -webkit-background-clip: text;
    }

    footer .footinner .paylogo .snsicon li:nth-child(2) a i:hover {
        color: #f00;
    }

    footer .footinner .paylogo .snsicon li:nth-child(3) a i:hover {
        color: rgb(29, 155, 240);
    }




}